[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do podstawowe.xls
Type=Link
URL=https://github.com/cakksz/Mleko2/blob/master/Mleko2/Formatowanie/podstawowe.xls
Icon=text-html
